{% extends 'courses/base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/teacher.css' %}">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}
{% block main %}
<div id="wrap">
    <div id="main" class="container with-margin">
        {% if students.all %}
        <h1>Students</h1>
        <ul class="list-sect-tasks">
            {% for student in students.all%}
            <li>
                {% if student|avatar:student.id %}
                <img src="{{student | avatar:student.id}}" height="50" width="50" alt="avatar">
                {% else %}
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                {% endif %} <span>{{student.username}} -- {{student.first_name}} {{student.last_name}}</span></li>
            {% endfor %}
        </ul>
        {% else %}
        <h1>There are no students enrolled</h1>
        {% endif %}
        <a href="{% url 'course_details' course.id%}" class="btn btn-primary bottom">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
            </svg>
            Return to the course</a>
    </div>
</div>
{% endblock %}