{% extends 'courses/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}

<link href='{% static "css/signin.css" %}' rel="stylesheet">


{% endblock %}
{% block main %}
<div id="wrap">
    <div id="main">
        <div class="container with-margin">
            <form class="form-signin" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <img class="mb-4" src='{% static "images/logo.png" %}' alt="Logo" width="300" height="150">
                <h1 class="h3 mb-3 font-weight-normal title">Register</h1>
                {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    <p>{{error_message}}</p>
                </div>
                {% endif %}
        
                {% if form.errors %}
                <!-- Error messaging -->
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- /Error messaging -->
                {% endif %}
        
                {{ form|crispy }}
        
                <div class="checkbox mb-3">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button></div>
                    <p><a href="{% url 'sign_in' %}"><h5 class="center">Do you have an account?</h5></a></p>

            </form>
        </div>
    </div>
</div>
{% endblock %}