{% extends 'courses/base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/teacher.css' %}">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}
{% block main %}
<div id="wrap">
    <div id="main" class="container with-margin">
        <h1>My Profile</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    {% if profile_picture.avatar.url %}
                    <img src="{{profile_picture.avatar.url}}" class="avatar img-circle" alt="avatar">
                    {% else %}
                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                    {% endif %}
                </div>
            </div>

            <!-- edit form column -->
            <div class="personal-info col">
                <h3 class="personal-info-title">Personal info</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                <label>First name:</label>
                            </div>
                            <div>
                                <span>{{user.first_name}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">

                            <div class="col-4">
                                <label>Last name:</label>
                            </div>
                            <div>
                                <span>{{user.last_name}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">

                        <div class="row">

                            <div class="col-4">
                                <label>Email:</label>
                            </div>
                            <div>
                                <span style=>{{user.email}}</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">

                        <div class="row">

                            <div class="col-4">
                                <label>Username:</label>
                            </div>
                            <div>
                                <span>{{user.username}}</span>
                            </div>
                        </div>

                    </li>
                </ul>
                <div class="float_left">
                    <a href="{% url 'edit_account' %}" type="button" class="btn btn-success">
                        Edit account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}