{% extends 'courses/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}
{% block main %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enroll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Do you really want to enroll in this course?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{% url 'enroll_course' course.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>

            </div>
        </div>
    </div>
</div>
<div id="wrap">
    <div class="jumbotron">
        <div class="container">
            {% if error%}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <h1 class="display-4" style="text-align: center;"><strong>{{course.name}}</strong></h1>
            <p style="text-align: center;">{{course.description}}
            </p>
            {% if student_enrolled %}
            <div class="button-center">
                <a href="{% url 'course_details' course.id %}" type="button" class="btn btn-success">
                    View course
                </a>
            </div>
            {% else %}
            <div class="button-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    Enroll
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title-content"><strong>Content</strong></h1>
                    <div>
                        {{course.content|safe }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3" style="max-width: 20rem;">
                        <h3 class="card-header">Characteristics</h3>
                        {% if course.image %}
                        <img style="height: 200px; width: 100%; display: block;" src="{{course.image.url}}"
                            alt="Card image">
                        {% else %}
                        <img style="height: 200px; width: 100%; display: block;" src="//placehold.it/100"
                            alt="Card image">
                        {% endif %}
                        <div class="card-body">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col d-flex">
                                            <svg class="bi bi-person-fill" width="1.25em" height="1.25em"
                                                viewBox="0 0 16 16" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>
                                            <span>&nbsp;Author:</span>
                                        </div>
                                        <div class="col">
                                            <span>{{course.author}}</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col d-flex">
                                            <svg class="bi bi-clock-fill" width="1.15em" height="1.15em"
                                                viewBox="0 0 16 16" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                            </svg>
                                            <span>&nbsp;Duration:</span>
                                        </div>
                                        <div class="col">
                                            <span>{{course.duration}}</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col d-flex">
                                            <svg class="bi bi-question-diamond-fill" width="1.15em" height="1.15em"
                                                viewBox="0 0 16 16" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
                                            </svg>
                                            <span>&nbsp;Level:</span>
                                        </div>
                                        <div class="col">
                                            <span>{{course.level}}</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col d-flex">
                                            <svg class="bi bi-geo-alt" width="1.15em" height="1.15em"
                                                viewBox="0 0 16 16" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            </svg>
                                            <span>&nbsp;Language:</span>
                                        </div>
                                        <div class="col">
                                            <span>{{course.language}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}