{% extends 'courses/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
{% endblock %}
{% block main %}
<div id="wrap">
    <div id="main">
        <h1>Error</h1>
        <span>{{error}}</span>
    </div>
</div>
{% endblock %}