{% extends 'courses/base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/teacher.css' %}">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}
{% block main %}
<div id="wrap">
    <div id="main">
        <div class="container with-margin">
            <h2 class="title-units">Grades</h2>
            <table class="table table-bordered">
                {% for unit in units %}
                <tr>
                    
                    <td>
                        {{unit.name}}
                    </td>
                    <td>
                        <table class="table table-borderless">
                            {% for task in tasks|tasks_in_unit:unit.id %}
                            <tr>
                                <td>
                                    {{task.name}}
                                </td>
                                <td>
                                    {{grade|grade_task:task.id}}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}