{% extends 'courses/base.html' %}
{% load static %}

{% block main %}
<div id="wrap">
  <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url({% static 'images/main-photo.jpg' %});">
    <div class="container">
      <h1 class="display-3">Learning Fast!</h1>
      <p>This application will help you learn easily and quickly. Here you can sign up for courses or create your own
        courses. Start now!
      </p>
      <form class="bar-search" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="input-group">
          <input class="form-control" type="search" id="input-search" name="search" placeholder="Search..">
          <button class="btn btn-outline-primary" id="main-search" type="submit"><i class="fa fa-search"></i> </button>
        </div>
      </form>
    </div>
  </div>

  <div id="main">
    <div class="container">
      <!-- Example row of columns -->
      {% if categories %}
      <h1 class="title">Search by category</h1>
      <div class="row">
        {% for category in categories %}
        <div class="col-md-4">
          <p style="text-align: center;"><a class="btn btn-secondary category"
              href="{% url 'search_category' category.id %}" role="button">{{category.name}}
              &raquo;</a></p>
        </div>
        {% endfor %}
        {% else %}
        <h1 class="title">There aren't categories</h1>
        {% endif %}
      </div>
    </div> <!-- /container -->
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    let msg = document.querySelector("#input-search");
    msg.addEventListener('keyup', event => {
      event.preventDefault();
      if (event.keyCode === 13) {
        document.querySelector("#main-search").click();
      }
    });

    // By default, main-search button is disabled
    document.querySelector('#main-search').disabled = true;

    // Enable button only if there is text in the input field
    document.querySelector('#input-search').onkeyup = () => {
      if (document.querySelector('#input-search').value.length > 0)
        document.querySelector('#main-search').disabled = false;
      else
        document.querySelector('#send_message').disabled = true;
    };
  });
</script>
{% endblock %}