{% extends 'courses/base.html' %}
{% load static %}
{% block style %}


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
{% endblock %}
{% block main %}
<div id="wrap">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-primary display-4"><strong>What do you want to learn?</strong></h1>
            <form class="bar-search" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control" type="search" id="input-search" name="search" placeholder="Search..">
                    <button class="btn btn-outline-primary" id="main-search" type="submit"><i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <h1 class="title"><strong>Search results for {{text}}</strong></h1>
            {% if courses_by_name or courses_by_creator %}
            <div class="row">
                {% for course in courses_by_name %}
                <div class="col-md-4">
                    <a class="course-link" href="{% url 'course' course.id %}">
                        <div class="card border-primary mb-3 card-category" style="max-width: 20rem;">
                            <div class="card-header">{{course.author}}</div>
                            <img style="height: 200px; width: 100%; display: block;" src="{{course.image.url}}"
                                alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{course.name}}</h4>
                                <p class="card-text">{{course.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% for course in courses_by_creator %}
                <div class="col-md-4">
                    <a href="{% url 'course' course.id %}">

                        <div class="card border-primary mb-3 card-category" name="hola" style="max-width: 20rem;">
                            <div class="card-header">{{course.author}}</div>
                            <img style="height: 200px; width: 100%; display: block;" src="{{course.image.url}}"
                                alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{course.name}}</h4>
                                <p class="card-text">{{course.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div style="text-align: center;" class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading">There is no result for your search!</h4>
                    <p class="mb-0">Please do another search</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}