{% extends 'courses/base.html' %}
{% load static %}

{% block main %}
<div id="wrap">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url({% static 'images/main-photo.jpg' %});">
        <div class="container">
            <h1 class=" display-4">What do you want to learn?</h1>
            <form class="bar-search" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control" type="search" id="input-search" name="search" placeholder="Search..">
                    <button class="btn btn-outline-primary" id="main-search" type="submit"><i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <h1 class="title"><strong>Search results for {{text}}</strong></h1>
            {% if courses_by_name_or_creator%}
            <div class="row">
                {% for course in courses_by_name_or_creator %}
                <div class="col-md-4">
                    <a class="course-link" href="{% url 'course' course.id %}">
                        <div class="card border-primary mb-3 card-category" style="max-width: 20rem;">
                            <div class="card-header">{{course.author}}</div>
                            {% if course.image %}
                            <img style="height: 200px; display: block;" src="{{course.image.url}}"
                                alt="Card image">
                            {% else %}
                            <img style="height: 200px; display: block;" src="//placehold.it/100"
                                alt="Card image">
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{course.name}}</h4>
                                <p class="card-text">{{course.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div style="text-align: center;" class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading">There is no result for your search!</h4>
                    <p class="mb-0">Please do another search</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    let msg = document.querySelector("#input-search");
    msg.addEventListener('keyup', event => {
      event.preventDefault();
      if (event.keyCode === 13) {
        document.querySelector("#main-search").click();
      }
    });

    // By default, main-search button is disabled
    document.querySelector('#main-search').disabled = true;

    // Enable button only if there is text in the input field
    document.querySelector('#input-search').onkeyup = () => {
      if (document.querySelector('#input-search').value.length > 0)
        document.querySelector('#main-search').disabled = false;
      else
        document.querySelector('#send_message').disabled = true;
    };
  });
</script>
{% endblock %}