{% extends 'courses/base.html' %}
{% load static %}

{% block style %}

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}
{% block main %}
<div id="wrap">
    <div id="main">
        <div class="container with-margin">
            <div>
                {% if section.author == request.user %}
                <a href="{% url 'edit_section' section.id %}" class="btn btn-success right">
                    Edit section</a>
                {% endif %}
                <h1 class="title-units reduce-title">{{section.name}}</h1>
                
            </div>

            <div>
                {{section.content | safe}}
            </div>
            <a href="{% url 'course_details' course.id%}" class="btn btn-primary bottom">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                </svg>
                Return to the course</a>
        </div> <!-- /container -->
    </div>
</div>

{% endblock %}