.category {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 25px 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    padding-left: 10%;
    padding-right: 10%;
}

.category:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

.category:active {
    position: relative;
    top: 1px;
}

.title {
    text-align: center;
    margin-bottom: 2%;
}

a.course-link {
    text-decoration: none;
    color: black
}

a.course-link:hover {
    color: grey;
}

