.courses {
    padding: 3rem 1.5rem;
}

.title {
    text-align: center;
}

.media {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    font-size: 85%;
    line-height: 1.4;
    margin: 0;
    padding: 1rem;
    margin-bottom: 3rem;
}

